/Ignore/
/test/data.csv

# Compiled files
*.tfstate
*.tfstate.backup

# sensitive
/tools/terraform/ssh/
/tools/terraform/variables.tf
.env
*.pem

# unnecessary
/tools/terraform/.terraform/plugins/linux_amd64/
