/Ignore/
/test/data.csv
Insight-Data-Ops_workflow.png
      
# Compiled files
*.tfstate
*.tfstate*
get-pip.py

# Installed from elsewhere
/tools/terraform/terraform
/tools/airflow/airflow

# Sensitive
/tools/terraform/ssh/
/tools/terraform/variables.tf
*.env
*.pem

# Unnecessary
/tools/terraform/.terraform/plugins/linux_amd64/
/tools/terraform/terraform.tfstate
/tools/terraform/terraform.tfstate.backup
